.alert {
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    background-color: darkslategray;
    padding: 20px 40px;
    font-size: 14px;
    max-width: 400px;
    border-radius: 20px 0;
}