.loader {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  &-component {
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: 4px dashed #dedede;
    animation: loader 5s linear 0s infinite normal none;
  }
}
@keyframes loader {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}